.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--color);
  transition: background-color 0.3s, color 0.3s;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.App {
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

.App.light {
  --background-color: white;
  --color: black;
}

.App.dark {
  --background-color: black;
  --color: white;
}


.title {
  color: inherit; /* Ensures the title color is inherited from the App container */
}
